@CHARSET "ISO-8859-1";


body {font-family: Verdana, Arial, sans-serif;font-size: 14px;}
fieldset {margin: 25px 0 0 0;padding: 15px;border: 4px solid; }
legend {padding: 8px; font-size: 16px;}
label {float: left; width: 200px;}
label.error { color: #D60404;}
input, select, textarea { float:left; padding: 5px;background: #cccccc; margin:5px 30px 5px 10px;}
.contenido { margin: 0 auto; width: 900px;}
.input {width: 250px;}
.enviar{margin: 20px auto;color: #000;}
.enviar:hover {background: #A4A4A4;}
.clear {clear: both;}